<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomPere"> Prénom pére</label>
            <input id="prenomPere" type="text" class="form-control" name="prenomPere" [(ngModel)]="family.prenomPere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissancePere">Date de naissance</label>
            <input id="datedenaissancePere" type="date" class="form-control" name="datedenaissancePere"
              [(ngModel)]="family.datedenaissancePere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaPere">HbA</label>
            <input id="hbaPere" type="text" class="form-control" name="hbaPere" [(ngModel)]="family.hbaPere" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfPere"> Hbf</label>
            <input id="hbfPere" type="text" class="form-control" name="hbfPere" [(ngModel)]="family.hbfPere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Pere">HbA²</label>
            <input id="hba2Pere" type="text" class="form-control" name="hba2Pere" [(ngModel)]="family.hba2Pere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaPere">HLA</label>
            <input id="hlaPere" type="text" class="form-control" name="hlaPere" [(ngModel)]="family.hlaPere" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomMere"> Prénom mére</label>
            <input id="prenomMere" type="text" class="form-control" name="prenomMere" [(ngModel)]="family.prenomMere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceMere">Date de naissance</label>
            <input id="datedenaissanceMere" type="date" class="form-control" name="datedenaissanceMere"
              [(ngModel)]="family.datedenaissanceMere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaMere">HbA</label>
            <input id="hbaMere" type="text" class="form-control" name="hbaMere" [(ngModel)]="family.hbaMere" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfMere"> Hbf</label>
            <input id="hbfMere" type="text" class="form-control" name="hbfMere" [(ngModel)]="family.hbfMere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Mere">HbA²</label>
            <input id="hba2Mere" type="text" class="form-control" name="hba2Mere" [(ngModel)]="family.hba2Mere" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaMere">HLA</label>
            <input id="hlaMere" type="text" class="form-control" name="hlaMere" [(ngModel)]="family.hlaMere" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomFratrie1"> Prénom fratrie 1</label>
            <input id="prenomFratrie1" type="text" class="form-control" name="prenomFratrie1"
              [(ngModel)]="family.prenomFratrie1" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceFratrie1">Date de naissance</label>
            <input id="datedenaissanceFratrie1" type="date" class="form-control" name="datedenaissanceFratrie1"
              [(ngModel)]="family.datedenaissanceFratrie1" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaFratrie1">HbA</label>
            <input id="hbaFratrie1" type="text" class="form-control" name="hbaFratrie1"
              [(ngModel)]="family.hbaFratrie1" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfFratrie1"> Hbf</label>
            <input id="hbfFratrie1" type="text" class="form-control" name="hbfFratrie1"
              [(ngModel)]="family.hbfFratrie1" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Fratrie1">HbA²</label>
            <input id="hba2Fratrie1" type="text" class="form-control" name="hba2Fratrie1"
              [(ngModel)]="family.hba2Fratrie1" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaFratrie1">HLA</label>
            <input id="hlaFratrie1" type="text" class="form-control" name="hlaFratrie1"
              [(ngModel)]="family.hlaFratrie1" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomFratrie2"> Prénom fratrie 2</label>
            <input id="prenomFratrie2" type="text" class="form-control" name="prenomFratrie2"
              [(ngModel)]="family.prenomFratrie2" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceFratrie2">Date de naissance</label>
            <input id="datedenaissanceFratrie2" type="date" class="form-control" name="datedenaissanceFratrie2"
              [(ngModel)]="family.datedenaissanceFratrie2" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaFratrie2">HbA</label>
            <input id="hbaFratrie2" type="text" class="form-control" name="hbaFratrie2"
              [(ngModel)]="family.hbaFratrie2" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfFratrie2"> Hbf</label>
            <input id="hbfFratrie2" type="text" class="form-control" name="hbfFratrie2"
              [(ngModel)]="family.hbfFratrie2" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Fratrie2">HbA²</label>
            <input id="hba2Fratrie2" type="text" class="form-control" name="hba2Fratrie2"
              [(ngModel)]="family.hba2Fratrie2" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaFratrie2">HLA</label>
            <input id="hlaFratrie2" type="text" class="form-control" name="hlaFratrie2"
              [(ngModel)]="family.hlaFratrie2" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomFratrie3"> Prénom fratrie 3</label>
            <input id="prenomFratrie3" type="text" class="form-control" name="prenomFratrie3"
              [(ngModel)]="family.prenomFratrie3" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceFratrie3">Date de naissance</label>
            <input id="datedenaissanceFratrie3" type="date" class="form-control" name="datedenaissanceFratrie3"
              [(ngModel)]="family.datedenaissanceFratrie3" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaFratrie3">HbA</label>
            <input id="hbaFratrie3" type="text" class="form-control" name="hbaFratrie3"
              [(ngModel)]="family.hbaFratrie3" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfFratrie3"> Hbf</label>
            <input id="hbfFratrie3" type="text" class="form-control" name="hbfFratrie3"
              [(ngModel)]="family.hbfFratrie3" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Fratrie3">HbA²</label>
            <input id="hba2Fratrie3" type="text" class="form-control" name="hba2Fratrie3"
              [(ngModel)]="family.hba2Fratrie3" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaFratrie3">HLA</label>
            <input id="hlaFratrie3" type="text" class="form-control" name="hlaFratrie3"
              [(ngModel)]="family.hlaFratrie3" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomFratrie4"> Prénom fratrie 4</label>
            <input id="prenomFratrie4" type="text" class="form-control" name="prenomFratrie4"
              [(ngModel)]="family.prenomFratrie4" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceFratrie4">Date de naissance</label>
            <input id="datedenaissanceFratrie4" type="date" class="form-control" name="datedenaissanceFratrie4"
              [(ngModel)]="family.datedenaissanceFratrie4" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaFratrie4">HbA</label>
            <input id="hbaFratrie4" type="text" class="form-control" name="hbaFratrie4"
              [(ngModel)]="family.hbaFratrie4" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfFratrie4"> Hbf</label>
            <input id="hbfFratrie4" type="text" class="form-control" name="hbfFratrie4"
              [(ngModel)]="family.hbfFratrie4" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Fratrie4">HbA²</label>
            <input id="hba2Fratrie4" type="text" class="form-control" name="hba2Fratrie4"
              [(ngModel)]="family.hba2Fratrie4" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaFratrie4">HLA</label>
            <input id="hlaFratrie4" type="text" class="form-control" name="hlaFratrie4"
              [(ngModel)]="family.hlaFratrie4" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="prenomFratrie5"> Prénom fratrie 5</label>
            <input id="prenomFratrie5" type="text" class="form-control" name="prenomFratrie5"
              [(ngModel)]="family.prenomFratrie5" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="datedenaissanceFratrie5">Date de naissance</label>
            <input id="datedenaissanceFratrie5" type="date" class="form-control" name="datedenaissanceFratrie5"
              [(ngModel)]="family.datedenaissanceFratrie5" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbaFratrie5">HbA</label>
            <input id="hbaFratrie5" type="text" class="form-control" name="hbaFratrie5"
              [(ngModel)]="family.hbaFratrie5" />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hbfFratrie5"> Hbf</label>
            <input id="hbfFratrie5" type="text" class="form-control" name="hbfFratrie5"
              [(ngModel)]="family.hbfFratrie5" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hba2Fratrie5">HbA²</label>
            <input id="hba2Fratrie5" type="text" class="form-control" name="hba2Fratrie5"
              [(ngModel)]="family.hba2Fratrie5" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hlaFratrie5">HLA</label>
            <input id="hlaFratrie5" type="text" class="form-control" name="hlaFratrie5"
              [(ngModel)]="family.hlaFratrie5" />
          </div>
        </div>
      </div>
      <div class="buttonSave mb-3 mt-3">
        <button aria-label="save" (click)="add()" class="save-btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
