<ul class="sidebar navbar-nav accordion sidenav ">
  <li>
    <a [routerLink]="['/home']" class="sidebar-brand align-items-center justify-content-center d-flex">
      <i class="fas fa-user-md sidebar-icon"></i>
      <h4 class="sidebar-text mx-3">DOC</h4>
    </a>
  </li>
  <hr class="sidebar-divider my-0 ">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">
</ul>
