.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.card-body {
  padding: 1rem 3rem;
}
.card-header h6 {
  color: #be4402;
  font-size: 18px;
  letter-spacing: 2px;
}
.form-group {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
label {
  font-size: 15px;
  color:black;
  text-transform: none;
  font-weight: 700;
}
.form-group p {
  font-size: 18px;
  font-weight: 600;
  background: #8080803b;
  color: #2d9990;
  padding: 12px ;
}
.form-control {
  width: 100%;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 58px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2d9990;
  font-size: 16px;
}
.cart-wrap {
  background: #f8f9fa;
  padding: 0 15px;
}
.cart-total h3 {
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
}
.cart-total p {
  display: flex;
}
.cart-total p span {
  width: 50%;
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}
.cart-total p .price {
  color: #000000;
  width: 50%;
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
}
.cart-detail h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.cart-detail label {
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}
.buttonSave {
  text-align: end;
}
.save-btn {
  background-color: #00a4ccff;
  border: 2px solid #00a4ccff;
  color: #040404;
  border-radius: 20px;
  padding: 10px 47px;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.save-btn:hover {
  background-color: transparent;
  border: 2px solid#00a4ccff;
  color: #040404;
}
