<div class="card-body">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS1">date S1</label>
        <input id="datesvaccinS1" type="date" class="form-control" name=" datesvaccinS1"
          [(ngModel)]="prophylaxie.datesvaccinS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS2">date S2</label>
        <input id="datesvaccinS2" type="date" class="form-control" name=" datesvaccinS2"
          [(ngModel)]="prophylaxie.datesvaccinS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS3">date S3</label>
        <input id="datesvaccinS3" type="date" class="form-control" name=" datesvaccinS3"
          [(ngModel)]="prophylaxie.datesvaccinS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS4">date S4</label>
        <input id="datesvaccinS4" type="date" class="form-control" name=" datesvaccinS4"
          [(ngModel)]="prophylaxie.datesvaccinS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS5">date S5</label>
        <input id="datesvaccinS5" type="date" class="form-control" name=" datesvaccinS5"
          [(ngModel)]="prophylaxie.datesvaccinS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="datesvaccinS6">date S6</label>
        <input id="datesvaccinS6" type="date" class="form-control" name=" datesvaccinS6"
          [(ngModel)]="prophylaxie.datesvaccinS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS1">Prieumocoque S1</label>
        <input id="pneumocoquevaccS1" type="text" class="form-control" name=" pneumocoquevaccS1"
          [(ngModel)]="prophylaxie.pneumocoquevaccS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS2">Prieumocoque S2</label>
        <input id="pneumocoquevaccS2" type="text" class="form-control" name=" pneumocoquevaccS2"
          [(ngModel)]="prophylaxie.pneumocoquevaccS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS3">Prieumocoque S3</label>
        <input id="pneumocoquevaccS3" type="text" class="form-control" name=" pneumocoquevaccS3"
          [(ngModel)]="prophylaxie.pneumocoquevaccS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS4">Prieumocoque S4</label>
        <input id="pneumocoquevaccS4" type="text" class="form-control" name=" pneumocoquevaccS4"
          [(ngModel)]="prophylaxie.pneumocoquevaccS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS5">Prieumocoque S5</label>
        <input id="pneumocoquevaccS5" type="text" class="form-control" name=" pneumocoquevaccS5"
          [(ngModel)]="prophylaxie.pneumocoquevaccS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="pneumocoquevaccS6">Prieumocoque S6</label>
        <input id="pneumocoquevaccS6" type="text" class="form-control" name=" pneumocoquevaccS6"
          [(ngModel)]="prophylaxie.pneumocoquevaccS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS1">Méningocoque S1</label>
        <input id="meningocoquevaccS1" type="text" class="form-control" name="meningocoquevaccS1"
          [(ngModel)]="prophylaxie.meningocoquevaccS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS2">Méningocoque S2</label>
        <input id="meningocoquevaccS2" type="text" class="form-control" name="meningocoquevaccS2"
          [(ngModel)]="prophylaxie.meningocoquevaccS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS3">Méningocoque S3</label>
        <input id="meningocoquevaccS3" type="text" class="form-control" name="meningocoquevaccS3"
          [(ngModel)]="prophylaxie.meningocoquevaccS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS4">Méningocoque S4</label>
        <input id="meningocoquevaccS4" type="text" class="form-control" name="meningocoquevaccS4"
          [(ngModel)]="prophylaxie.meningocoquevaccS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS5">Méningocoque S5</label>
        <input id="meningocoquevaccS5" type="text" class="form-control" name="meningocoquevaccS5"
          [(ngModel)]="prophylaxie.meningocoquevaccS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="meningocoquevaccS6">Méningocoque S6</label>
        <input id="meningocoquevaccS6" type="text" class="form-control" name="meningocoquevaccS6"
          [(ngModel)]="prophylaxie.meningocoquevaccS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS1">Hoemophilus b S1</label>
        <input id="hoemophilusvaccS1" type="text" class="form-control" name="hoemophilusvaccS1"
          [(ngModel)]="prophylaxie.hoemophilusvaccS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS2">Hoemophilus b S2</label>
        <input id="hoemophilusvaccS2" type="text" class="form-control" name="hoemophilusvaccS2"
          [(ngModel)]="prophylaxie.hoemophilusvaccS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS3">Hoemophilus b S3</label>
        <input id="hoemophilusvaccS3" type="text" class="form-control" name="hoemophilusvaccS3"
          [(ngModel)]="prophylaxie.hoemophilusvaccS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS4">Hoemophilus b S4</label>
        <input id="hoemophilusvaccS4" type="text" class="form-control" name="hoemophilusvaccS4"
          [(ngModel)]="prophylaxie.hoemophilusvaccS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS5">Hoemophilus b S5</label>
        <input id="hoemophilusvaccS5" type="text" class="form-control" name="hoemophilusvaccS5"
          [(ngModel)]="prophylaxie.hoemophilusvaccS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hoemophilusvaccS6">Hoemophilus b S6</label>
        <input id="hoemophilusvaccS6" type="text" class="form-control" name="hoemophilusvaccS6"
          [(ngModel)]="prophylaxie.hoemophilusvaccS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS1">Hépalite B S1</label>
        <input id="hepatiteS1" type="text" class="form-control" name="hepatiteS1"
          [(ngModel)]="prophylaxie.hepatiteS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS2">Hépalite B S2</label>
        <input id="hepatiteS2" type="text" class="form-control" name="hepatiteS2"
          [(ngModel)]="prophylaxie.hepatiteS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS3">Hépalite B S3</label>
        <input id="hepatiteS3" type="text" class="form-control" name="hepatiteS3"
          [(ngModel)]="prophylaxie.hepatiteS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS4">Hépalite B S4</label>
        <input id="hepatiteS4" type="text" class="form-control" name="hepatiteS4"
          [(ngModel)]="prophylaxie.hepatiteS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS5">Hépalite B S5</label>
        <input id="hepatiteS5" type="text" class="form-control" name="hepatiteS5"
          [(ngModel)]="prophylaxie.hepatiteS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hepatiteS6">Hépalite B S6</label>
        <input id="hepatiteS6" type="text" class="form-control" name="hepatiteS6"
          [(ngModel)]="prophylaxie.hepatiteS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS1">Autres S1</label>
        <input id="autresvaccS1" type="text" class="form-control" name="autresvaccS1"
          [(ngModel)]="prophylaxie.autresvaccS1" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS2">Autres S2</label>
        <input id="autresvaccS2" type="text" class="form-control" name="autresvaccS2"
          [(ngModel)]="prophylaxie.autresvaccS2" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS3">Autres S3</label>
        <input id="autresvaccS3" type="text" class="form-control" name="autresvaccS3"
          [(ngModel)]="prophylaxie.autresvaccS3" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS4">Autres S4</label>
        <input id="autresvaccS4" type="text" class="form-control" name="autresvaccS4"
          [(ngModel)]="prophylaxie.autresvaccS4" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS5">Autres S5</label>
        <input id="autresvaccS5" type="text" class="form-control" name="autresvaccS5"
          [(ngModel)]="prophylaxie.autresvaccS5" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="autresvaccS6">Autres S6</label>
        <input id="autresvaccS6" type="text" class="form-control" name="autresvaccS6"
          [(ngModel)]="prophylaxie.autresvaccS6" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="antibioprophytaxie">Antibioprophylaxie </label>
        <input id="antibioprophytaxie" type="text" class="form-control" name=" antibioprophytaxie"
          [(ngModel)]="prophylaxie.antibioprophytaxie" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date1antibioptophy">Antibioprophylaxie S1</label>
        <input id="date1antibioptophy" type="date" class="form-control" name=" date1antibioptophy"
          [(ngModel)]="prophylaxie.date1antibioptophy" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date2antibioptophy">Antibioprophylaxie S2</label>
        <input id="date2antibioptophy" type="date" class="form-control" name=" date2antibioptophy"
          [(ngModel)]="prophylaxie.date2antibioptophy" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date3antibioptophy">Antibioprophylaxie S3</label>
        <input id="date3antibioptophy" type="date" class="form-control" name=" date3antibioptophy"
          [(ngModel)]="prophylaxie.date3antibioptophy" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date4antibioptophy">Antibioprophylaxie S4</label>
        <input id="date4antibioptophy" type="date" class="form-control" name=" date4antibioptophy"
          [(ngModel)]="prophylaxie.date4antibioptophy" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date5antibioptophy">Antibioprophylaxie S5</label>
        <input id="date5antibioptophy" type="date" class="form-control" name=" date5antibioptophy"
          [(ngModel)]="prophylaxie.date5antibioptophy" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="date6antibioptophy">Antibioprophylaxie S6</label>
        <input id="date6antibioptophy" type="date" class="form-control" name=" date6antibioptophy"
          [(ngModel)]="prophylaxie.date6antibioptophy" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="splnectomieDate">Splénectomie</label>
        <input id="splnectomieDate" placeholder="Date.." type="date" class="form-control" name="splnectomieDate"
          [(ngModel)]="prophylaxie.splnectomieDate" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="splnectomieChirugie">Splénectomie</label>
        <input id="splnectomieChirugie" placeholder="chirugie.." type="text" class="form-control"
          name="splnectomieChirugie" [(ngModel)]="prophylaxie.splnectomieChirugie" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observations">observations</label>
        <input id="observations" type="text" class="form-control" name="observations "
          [(ngModel)]="prophylaxie.observations" />
      </div>
    </div>
  </div>
  <div class="buttonSave mb-3 mt-3">
    <button aria-label="save" (click)="add()" class="save-btn btn-primary">Ajouter</button>
  </div>
</div>
