body{
  width: 100%;
  /* centering inner content */
  display: flex;
  /* centering along main axis - X axis - Horizontal */
  justify-content: center;
/* centering along cross axis - Y axis - Vertical */
  /* align-items: center; */

}
.header{
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 0;
  border-color: #ccc;
}
.header h2{
  color: #162643;
  font-size: 23px;
  font-weight: 600;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  padding: 16px 11px 14px 14px;
}
input{
  border-radius: 6px;
  color: #8a8d91;
  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: auto;
  margin-bottom: 0;
  padding: 16px 0 16px 16px;
  width: 444px;
}

button{
  border: none;
  background-color: #00b4ef;
  color: white;
  padding: 5px 17px;
  position: relative;
  font-size: 13px;
  border-radius: 4px;
}
button:hover{
  background-color: #1e87f0;
  transition: 0.2s ease;
}
.fontawsom{
  color: white;
  position: absolute;
  left: 107px;
  bottom: 31px;
  font-size: 12px;
}
