<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="rest card shadow p-4">
    <div class="header">
      <h2>Retrouvez votre compte</h2>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)='reset()'>
      <label class="pt-4" for="email">Veuillez saisir votre adresse e-mail </label>
      <input type="email" placeholder="Adresse email.." formControlName="email" class="form-control mb-3 ng-valid">
      <button type="submit">Rechercher</button>
      <i class="fas fa-location-arrow fontawsom"></i>
    </form>
  </div>

</body>
</html> -->
