<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="login">
    <div class="block">
      <div class="header">
        <i class="fas fa-users"></i>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)='login()'>
        <div class="content">
          <input type="email" class="form-control" formControlName="email" placeholder="Adresse e-mail..."
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          <i class="fas fa-user fontawsom "></i>
        </div>
        <div class="content">
          <input type="password" class="form-control" formControlName="password" placeholder="*************"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">password is required</div>
            <div *ngIf="f.password.errors.password">password must be at least 6 charcters</div>
          </div>
          <i class="fas fa-key fontawsom"></i>
        </div>
        <div class="register">
          <button (click)='navigateToRegister()' class="account">vous n'avez pas de compte?</button>
          <!-- <button (click)='navigateToReset()' class="registerBtn">Mot de passe oublié?</button> -->
        </div>
        <div class="btnn">
          <button class="log">CONNECTION</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
