<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="rest card shadow p-4">
    <div class="header">
      <h2>Choisissez un nouveau mot de passe</h2>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)='changePassword()'>
      <label class="pt-3" for="password">Créez un mot de passe d’au moins 6 caractères. Un mot<br /> de passe fort est
        une combinaison de lettres, de chiffres <br />et de signes de ponctuation.
      </label>
      <input [(ngModel)]="data.password" type="password" placeholder="Nouveau mot de passe" formControlName="password"
        class="form-control mb-3 ng-valid">
      <button type="submit">Continuer</button>
      <i class="fas fa-save fontawsom"></i>
    </form>
  </div>

</body>

</html> -->
