<div class="card-body">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="poidT1">Poids T1 </label>
        <input id="poidT1" type="number" class="form-control" name=" poidsT1" [(ngModel)]="bilan.poidsT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="poidT2">Poids T2 </label>
        <input id="poidT2" type="number" class="form-control" name=" poidsT2" [(ngModel)]="bilan.poidsT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="poidT3">Poids T3</label>
        <input id="poidT3" type="number" class="form-control" name="poidsT3" [(ngModel)]="bilan.poidsT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="poidT4">Poids T4</label>
        <input id="poidT4" type="number" class="form-control" name="poidsT4" [(ngModel)]="bilan.poidsT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observP">Observations</label>
        <input id="observP" type="text" class="form-control" name="poidsObserv" [(ngModel)]="bilan.poidsObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="tailleT1">Taille T1</label>
        <input id="tailleT1" type="number" class="form-control" name=" tailleT1" [(ngModel)]="bilan.tailleT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="tailleT2">Taille T2</label>
        <input id="tailleT2" type="number" class="form-control" name="tailleT2" [(ngModel)]="bilan.tailleT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="tailleT3">Taille T3</label>
        <input id="tailleT3" type="number" class="form-control" name="tailleT3" [(ngModel)]="bilan.tailleT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="tailleT4">Taille T4</label>
        <input id="tailleT4" type="number" class="form-control" name="tailleT4" [(ngModel)]="bilan.tailleT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observT">Observations</label>
        <input id="observT" type="text" class="form-control" name="tailleObserv" [(ngModel)]="bilan.tailleObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="ferrT1">Ferritine(µg/I) T1</label>
        <input id="ferrT1" type="text" class="form-control" name=" ferritineT1" [(ngModel)]="bilan.ferritineT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="ferrT2">Ferritine(µg/I) T2</label>
        <input id="ferrT2" type="text" class="form-control" name="ferritineT2" [(ngModel)]="bilan.ferritineT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="ferrT3">Ferritine(µg/I) T3</label>
        <input id="ferrT3" type="text" class="form-control" name="ferritineT3" [(ngModel)]="bilan.ferritineT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="ferrT4">Ferritine(µg/I) T4</label>
        <input id="ferrT4" type="text" class="form-control" name="ferritineT4" [(ngModel)]="bilan.ferritineT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observF"> Observations</label>
        <input id="observF" type="text" class="form-control" name="ferritineObserv"
          [(ngModel)]="bilan.ferritineObserv" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="asatT1">ASAT(U/L) T1</label>
        <input id="asatT1" type="text" class="form-control" name="asatT1" [(ngModel)]="bilan.asatT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="asatT2">ASAT(U/L) T2</label>
        <input id="asatT2" type="text" class="form-control" name="asatT2" [(ngModel)]="bilan.asatT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="asatT3">ASAT(U/L) T3</label>
        <input id="asatT3" type="text" class="form-control" name="asatT3" [(ngModel)]="bilan.asatT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="asatT4">ASAT(U/L) T4</label>
        <input id="asatT4" type="text" class="form-control" name="asatT4" [(ngModel)]="bilan.asatT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observA"> Observations</label>
        <input id="observA" type="text" class="form-control" name="asatObserv" [(ngModel)]="bilan.asatObserv" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="alatT1">ALAT(U/I)s T1</label>
        <input id="alatT1" type="text" class="form-control" name="alatT1" [(ngModel)]="bilan.alatT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="alatT2">ALAT(U/I)s T2</label>
        <input id="alatT2" type="text" class="form-control" name="alatT2" [(ngModel)]="bilan.alatT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="alatT3">ALAT(U/I)s T3</label>
        <input id="alatT3" type="text" class="form-control" name="alatT3" [(ngModel)]="bilan.alatT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="alatT4">ALAT(U/I)s T4</label>
        <input id="alatT4" type="text" class="form-control" name="alatT4" [(ngModel)]="bilan.alatT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observAL"> Observations</label>
        <input id="observAL" type="text" class="form-control" name=" alatObserv" [(ngModel)]="bilan. alatObserv" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbtT1">BBT(µmol/I) T1</label>
        <input id="bbtT1" type="text" class="form-control" name="bbtT1" [(ngModel)]="bilan.bbtT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbtT2">BBT(µmol/I) T2</label>
        <input id="bbtT2" type="text" class="form-control" name="bbtT2" [(ngModel)]="bilan.bbtT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbtT3">BBT(µmol/I) T3</label>
        <input id="bbtT3" type="text" class="form-control" name="bbtT3" [(ngModel)]="bilan.bbtT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbtT4">BBT(µmol/I) T4</label>
        <input id="bbtT4" type="text" class="form-control" name="bbtT4" [(ngModel)]="bilan.bbtT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observB"> Observations</label>
        <input id="observB" type="text" class="form-control" name="bbtObserv" [(ngModel)]="bilan.bbtObserv" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbiT1">BBI(µmol/I) T1</label>
        <input id="bbiT1" type="text" class="form-control" name="bbiT1" [(ngModel)]="bilan.bbiT1" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbiT2">BBI(µmol/I) T2</label>
        <input id="bbiT2" type="text" class="form-control" name="bbiT2" [(ngModel)]="bilan.bbiT2" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbiT3">BBI(µmol/I) T3</label>
        <input id="bbiT3" type="text" class="form-control" name="bbiT3" [(ngModel)]="bilan.bbiT3" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="bbiT4">BBI(µmol/I) T4</label>
        <input id="bbiT4" type="text" class="form-control" name="bbiT4" [(ngModel)]="bilan.bbiT4" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="observBB"> Observations</label>
        <input id="observBB" type="text" class="form-control" name="bbiObserv" [(ngModel)]="bilan.bbiObserv" />
      </div>
    </div>
  </div>
  <div class="buttonSave mb-3 mt-3">
    <button aria-label="save" (click)="add()" class="save-btn btn-primary">Ajouter</button>
  </div>
</div>
