#wrapper {
  display: flex;
}
#content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: auto;
}
#content {
  flex: 1 0 auto;
}
.topbar {
  height: 4.3rem;
}
.navbar-search {
  width: 25rem;
}
.topbar .navbar-search input {
  font-size: 0.85rem;
  height: auto;
}
.navbar-nav {
  margin-top: 0;
}
.dropdown .nav-item  {
  height: 3.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  position: relative;
}
.nav-item  .img-profile {
  height: 2.5rem;
  width: 3rem;
}
.nav-item span {
  font-size: 15px;
  font-weight: 700;
  color: #265c8b;
}
.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.card-body {
  padding: 1rem 3rem;
}
.card-header h6 {
  color: #f95700ff;
  font-size: 18px;
  letter-spacing: 2px;
}
.form-group {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

label {
  font-size: 15px;
  color: black;
  text-transform: none;
  font-weight: 700;
}

.buttonSave {
  text-align: end;
}
.save-btn {
  background-color: #00a4ccff;
  border: 2px solid #00a4ccff;
  color: #f95700ff;
  border-radius: 20px;
  padding: 10px 47px;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.save-btn:hover {
  background-color: transparent;
  border: 2px solid#00a4ccff;
  color: #f95700ff;
}
