<div class="card-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="GLS1">Glycémie HO(mmoI/I) S1</label>
        <input id="GLS1" type="text" class="form-control" name="glyHos1" [(ngModel)]="bilanSemestriel.glyHos1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="GLS2">Glycémie HO(mmoI/I) S2</label>
        <input id="GLS2" type="text" class="form-control" name=" glyHos2" [(ngModel)]="bilanSemestriel.glyHos2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observGL"> Observations</label>
        <input id="observGL" type="text" class="form-control" name="glyHoObserv"
          [(ngModel)]="bilanSemestriel.glyHoObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="GHS1">Glycémie H2²(mmoI/I) S1</label>
        <input id="GHS1" type="text" class="form-control" name=" glyH2s1" [(ngModel)]="bilanSemestriel.glyH2s1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="GHS2">Glycémie H2²(mmoI/I) S2</label>
        <input id="GHS2" type="text" class="form-control" name="glyH2s2" [(ngModel)]="bilanSemestriel.glyH2s2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observGH">Observations </label>
        <input id="observGH" type="text" class="form-control" name="glyH2Observ"
          [(ngModel)]="bilanSemestriel.glyH2Observ" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="CS1">Calcémie(mmoI/I) S1</label>
        <input id="CS1" type="text" class="form-control" name=" calcemieS1" [(ngModel)]="bilanSemestriel.calcemieS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="CS2">Calcémie(mmoI/I) S2</label>
        <input id="CS2" type="text" class="form-control" name="calcemieS2" [(ngModel)]="bilanSemestriel.calcemieS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observC">Observations</label>
        <input id="observC" type="text" class="form-control" name="calcemieObserv"
          [(ngModel)]="bilanSemestriel.calcemieObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="phs1">Phosphorémie(mmoI/I) S1</label>
        <input id="phs1" type="text" class="form-control" name=" phosphS1" [(ngModel)]="bilanSemestriel.phosphS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="phs2">Phosphorémie(mmoI/I) S2</label>
        <input id="phs2" type="text" class="form-control" name="phosphS2" [(ngModel)]="bilanSemestriel.phosphS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observph">Observations</label>
        <input id="observph" type="text" class="form-control" name="phosphObserv"
          [(ngModel)]="bilanSemestriel.phosphObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="ALS1">Ph.Alcalines(U/I) S1</label>
        <input id="ALS1" type="text" class="form-control" name="phAlS1" [(ngModel)]="bilanSemestriel.phAlS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="ALS2">Ph.Alcalines(U/I) S2</label>
        <input id="ALS2" type="text" class="form-control" name="phAlS2" [(ngModel)]="bilanSemestriel.phAlS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observAL">Observations</label>
        <input id="observAL" type="text" class="form-control" name=" phAlObserv"
          [(ngModel)]="bilanSemestriel. phAlObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="MS1">Magnésiémie S1</label>
        <input id="MS1" type="text" class="form-control" name="magS1" [(ngModel)]="bilanSemestriel.magS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="MS2">Magnésiémie S2</label>
        <input id="MS2" type="text" class="form-control" name="magS2" [(ngModel)]="bilanSemestriel.magS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observM">Observations</label>
        <input id="observM" type="text" class="form-control" name="magObserv" [(ngModel)]="bilanSemestriel.magObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="TCDS1">TCD S1</label>
        <input id="TCDS1" type="text" class="form-control" name="tcdS1" [(ngModel)]="bilanSemestriel.tcdS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="TCDS2">TCD S2</label>
        <input id="TCDS2" type="text" class="form-control" name=" tcdS2" [(ngModel)]="bilanSemestriel.tcdS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observTCD">Observations</label>
        <input id="observTCD" type="text" class="form-control" name="tcdObserv"
          [(ngModel)]="bilanSemestriel. tcdObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="AGS1">Ag HBS S1</label>
        <input id="AGS1" type="text" class="form-control" name="agHbsS1" [(ngModel)]="bilanSemestriel.agHbsS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="AGS2">Ag HBSj S2</label>
        <input id="AGS2" type="text" class="form-control" name="agHbsS2" [(ngModel)]="bilanSemestriel.agHbsS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observAG">Observations</label>
        <input id="observAG" type="text" class="form-control" name="agHbsObserv"
          [(ngModel)]="bilanSemestriel. agHbsObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="SRS1">Sérologie HCV S1</label>
        <input id="SRS1" type="text" class="form-control" name=" hcvS1" [(ngModel)]="bilanSemestriel.hcvS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="SRS2">Sérologie HCV S2</label>
        <input id="SRS2" type="text" class="form-control" name=" hcvS2" [(ngModel)]="bilanSemestriel.hcvS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observSR">Observations</label>
        <input id="observSR" type="text" class="form-control" name="hcvObserv"
          [(ngModel)]="bilanSemestriel.hcvObserv" />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="SRHS1">Sérologie HIV S1</label>
        <input id="SRHS1" type="text" class="form-control" name="hivS1" [(ngModel)]="bilanSemestriel.hivS1" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="SRHS2">Sérologie HIV S2</label>
        <input id="SRHS2" type="text" class="form-control" name=" hivS2" [(ngModel)]="bilanSemestriel.hivS2" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="observSRH">Observations</label>
        <input id="observSRH" type="text" class="form-control" name="hivObserv"
          [(ngModel)]="bilanSemestriel.hivObserv" />
      </div>
    </div>
  </div>
  <div class="buttonSave mb-3 mt-3">
    <button aria-label="save" (click)="add()" class="save-btn btn-primary">Ajouter</button>
  </div>
</div>
